body {
  background-color: #c3b4b4;
}
h1 {
  text-align: center;
}
h2{
  text-align: center;
}
label{
  color: rgb(13, 13, 13);
  
}
input{
  background-color: white;
}
button {
  color:white;
  background-color: blueviolet;
}
.edit {
  background-color: rgb(0, 255, 4);
}
.delete {
  background-color: red;
}
.display{

  border: solid black;
  border-radius: 12px;
  -ms-flex-item-align: center;
  margin-right: 30%;
  
}